{% extends 'material-paralax/_base.html.twig' %}

{% block title %}{{ custom_seo_title|default(parent()) }}{% endblock %}

{% block body %}
    <div class="index-banner parallax-container valign-wrapper">
        <div class="section no-pad-bot valign">
            <div class="container valign">
                <div class="row center valign">
                    {% image '@AppBundle/Resources/public/material-paralax/images/logo_large_w.png' %}
                    <img class="large-logo" src="{{ asset_url }}" alt="Трамплин" />
                    {% endimage %}
                </div>
            </div>
        </div>
        <div class="parallax">
            {% image '@AppBundle/Resources/public/material-paralax/images/background-b.jpg' %}
            <img src="{{ asset_url }}" alt="background" />
            {% endimage %}
        </div>
    </div>

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12">
                    <div class="icon-block">
                        <p class="light center">{{ setting_companyTagline }}</p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center tramplin-green-text"><i class="material-icons">done_all</i></h2>
                        <h5 class="center">Возможности</h5>
                        <p class="light center">
                            Пространство<br>
                            Оборудование<br>
                            Дизайн и размещение афиши<br>
                            Продвижение в социальных сетях<br>
                            Услуги специалистов: звукоопрератор и фотограф
                        </p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center tramplin-orange-text"><i class="material-icons">home</i></h2>
                        <h5 class="center">Площадки</h5>
                        <p class="light center">
                            Концертный зал ЦК ТГУ<br>
                            Танцевальный зал ЦК ТГУ<br>
                            Холл второго этажа ЦК ТГУ<br>
                            Холл девятого этажа общежития "Парус" ТГУ<br>
                            Холл двенадцатого этажа общежития "Парус" ТГУ<br>
                            Коворкинг УСМП
                        </p>
                    </div>
                </div>
                <div class="col s12 center">
                    <a href="https://goo.gl/forms/7hAS56tfl0PS6ElT2" target="_blank" class="btn-large" style="font-size: 1.5em">Подать заявку</a>
                </div>
            </div>
            <div class="row center">
                <div class="col s12">
                    <h5>Мероприятия</h5>
                    <a class="waves-effect waves-light btn-flat" href="#modal-large">в полном размере</a>
                    <div class="carousel">
                        {% for photo in photos %}
                            <a class="carousel-item" href="#{{ photo.id }}!"><img src="{{ gallery_image_path ~ '/' ~ photo.image }}"></a>
                        {% endfor %}
                    </div>
                    <div id="modal-large" class="modal" style="weight: 100%;">
                        <div class="modal-content" style="padding: 3px;">
                            <div class="row" style="margin: 0px; padding: 3px;">
                                {% for photo in photos %}
                                    <div class="col s6 m4 l3" style="margin: 0px; padding: 3px;">
                                        <img class="materialboxed responsive-img" src="{{ gallery_image_path ~ '/' ~ photo.image }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <a class="waves-effect waves-light btn" href="#modal1">Другие мероприятия</a>
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <table class="striped">
                                {% for gallery in galleries %}
                                    <tr>
                                        <td>{{ gallery.title }}</td>
                                        <td><a href="{{ path('gallery', { 'id': gallery.id }) }}">Открыть</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="index-banner parallax-container valign-wrapper">
        <div class="section no-pad-bot valign">
            <div class="container valign">
                <div class="row center valign">
                    {% image '@AppBundle/Resources/public/material-paralax/images/logo_large_w.png' %}
                    <img class="large-logo" src="{{ asset_url }}" alt="Трамплин" />
                    {% endimage %}
                </div>
            </div>
        </div>
        <div class="parallax">
            {% image '@AppBundle/Resources/public/material-paralax/images/background-b.jpg' %}
            <img src="{{ asset_url }}" alt="background" />
            {% endimage %}
        </div>
    </div>
{% endblock %}