{% for advert in adverts %}
    <article>
        <a href="{{ path('advert', { 'id': advert.id }) }}" class="image"><img src="images/pic01.jpg" alt="{{ advert.title }}" /></a>
        <h3>{{ advert.title }}</h3>
        <p>{{ advert.description|shorten(300) }}</p>
        <ul class="actions">
            <li><a href="{{ path('advert', { 'id': advert.id }) }}" class="button">More</a></li>
        </ul>
    </article>
{% endfor %}