{% extends 'editorial/base.html.twig' %}

{% block content %}
    <!-- Section -->
    <section>
        <header class="major">
            <h2>Новости</h2>
        </header>
        <div class="posts">
            {% for advert in adverts %}
                <article>
                    {% if advert.image %}
                        <a href="{{ path('advert', { 'id': advert.id }) }}" class="image">
                            <img src="{{ article_image_path ~ '/' ~ advert.image }}" alt="{{ advert.title }}" />
                        </a>
                    {% endif %}
                    <h3>{{ advert.title }}</h3>
                    <p>{{ advert.description|shorten(300) }}</p>
                    <ul class="actions">
                        <li><a href="{{ path('advert', { 'id': advert.id }) }}" class="button">Подробнее</a></li>
                    </ul>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}