{% extends 'editorial/base.html.twig' %}

{% block content %}
    <!-- Section -->
    <section>
        <header class="major">
            <h2>
                {% if category %}
                    {{ category.title }}
                {% else %}
                    Бибилиотека
                {% endif %}
            </h2>
        </header>
        <div class="posts">
            {% for article in articles %}
                <article>
                    {% if article.image %}
                        <a href="{{ path('article', { 'id': article.id }) }}" class="image">
                            <img src="{{ article_image_path ~ '/' ~ article.image }}" alt="{{ article.title }}" />
                        </a>
                    {% endif %}
                    <h3>{{ article.title }}</h3>
                    <p>{{ article.description|shorten(300) }}</p>
                    <ul class="actions">
                        <li><a href="{{ path('article', { 'id': article.id }) }}" class="button">Подробнее</a></li>
                    </ul>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}