<!DOCTYPE HTML>
<html>
<head>
    <title>{{ setting_seo_title }}</title>
    <meta name="keywords" content="{{ setting_seo_keywords }}" />
    <meta name="description" content="{{ setting_seo_description }}" />

    <link rel="shortcut icon" href="{{ template_image_path ~ '/' ~ image_favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ template_image_path ~ '/' ~ image_favicon }}" type="image/x-icon">

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    {% javascripts '@AppBundle/Resources/public/editorial/js/ie/html5shiv.js' %}
        <!--[if lte IE 8]><script src="{{ asset_url }}"></script><![endif]-->
    {% endjavascripts %}

    {% stylesheets 'bundles/app/editorial/css/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}

    {% stylesheets 'bundles/app/editorial/css/ie9.css' filter='cssrewrite' %}
        <!--[if lte IE 9]><link rel="stylesheet" href="{{ asset_url }}" rel="stylesheet" /><![endif]-->
    {% endstylesheets %}

    {% stylesheets 'bundles/app/editorial/css/ie8.css' filter='cssrewrite' %}
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset_url }}" rel="stylesheet" /><![endif]-->
    {% endstylesheets %}
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="{{ path('homepage') }}" class="logo"><strong>{{ setting_companyName }}</strong></a>
            </header>

            {% block content %} {% endblock %}

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Навигация</h2>
                </header>
                <ul>
                    <li><a href="{{ path('homepage') }}">Главная</a></li>
                    <li><a href="{{ path('adverts') }}">Новости</a></li>
                </ul>
            </nav>

            <!-- Section -->
            <section>
                {{ render(controller('AppBundle:Article:showLast', { 'limit': 3 })) }}
            </section>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Контакты</h2>
                </header>
                <ul class="contact">
                    <li class="fa-envelope-o"><a href="{{ contact_email }}">{{ contact_email }}</a></li>
                    <li class="fa-phone">{{ contact_phone }}</li>
                    <li class="fa-home">{{ contact_address }}</li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; {{ setting_companyName }}. Created by Caracal CMS</p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts-->
{% javascripts
    '@AppBundle/Resources/public/editorial/js/jquery.min.js'
    '@AppBundle/Resources/public/editorial/js/skel.min.js'
    '@AppBundle/Resources/public/editorial/js/util.js'
    '@AppBundle/Resources/public/editorial/js/main.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@AppBundle/Resources/public/editorial/js/ie/respond.min.js' %}
    <!--[if lte IE 8]><script src="{{ asset_url }}"></script><![endif]-->
{% endjavascripts %}

</body>