{% extends 'massively/base.html.twig' %}

{% block content %}
    <!-- Posts -->
    <section class="posts">
        {% for article in articles %}
            <article>
                <header>
                    <span class="date">{{ article.createdAt|date('d.m.Y') }}</span>
                    <h2><a href="{{ path('article', {id: article.id}) }}">{{ article.title }}</a></h2>
                </header>
                <a href="{{ path('article', {id: article.id}) }}" class="image fit">
                    <img src="{{ article_image_path ~ '/' ~ article.image }}" alt="{{ article.title }}" />
                </a>
                <p>{{ article.description|shorten(160) }}</p>
                <ul class="actions">
                    <li><a href="{{ path('article', {id: article.id}) }}" class="button">Читать дальше</a></li>
                </ul>
            </article>
        {% endfor %}
    </section>

    <!-- Footer -->
    <footer>
        <div class="pagination">
            {% if category %}
                {% set categoryId = category.id %}
            {% else %}
                {% set categoryId = 0 %}
            {% endif %}

            {% if pagination.prevPage %}
                <a href="{{ path('articles', {id: categoryId, page: pagination.prevPage}) }}" class="previous">Назад</a>
            {% endif %}

            {% for page in pagination.pages %}
                {% if page == pagination.currentPage %}
                    <a href="{{ path('articles', {id: categoryId, page: page}) }}" class="page active">{{ page }}</a>
                {% else %}
                    <a href="{{ path('articles', {id: categoryId, page: page}) }}" class="page">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {#<span class="extra">&hellip;</span>#}

            {% if pagination.nextPage %}
                <a href="{{ path('articles', {id: categoryId, page: pagination.nextPage}) }}" class="next">Вперед</a>
            {% endif %}
        </div>
    </footer>
{% endblock %}