{% extends 'massively/base.html.twig' %}

{% block content %}
    <!-- Post -->
    <section class="post">
        <header class="major">
            <span class="date">{{ article.createdAt|date('d.m.Y') }}</span>
            <h1>{{ article.title }}</h1>
            {#<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />#}
                {#facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />#}
                {#amet nullam sed etiam veroeros.</p>#}
        </header>
        <div class="image main">
            <img src="{{ article_image_path ~ '/' ~ article.image }}" alt="{{ article.title }}" />
        </div>

        {{ article.description|md2html|raw }}
    </section>
{% endblock %}